<form #f="ngForm" class="rol-sm-12" (ngSubmit)="submit(f)">

  <div class="form-group">
    <label for="description">Description</label>
    <textarea required
              ngModel
              name="description"
              #description="ngModel"
              id="description"
              cols="30"
              rows="10"
              class="form-control"
              minlength="10">
    </textarea>
    <div class="alert alert-danger"
         *ngIf="description.touched && !description.valid">
      <div *ngIf="description.errors.required">
        Description is required
      </div>
      <div *ngIf="description.errors.minlength">
        Description should be minimum {{description.errors.minlength.requiredLength}}
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="done">Status</label>
    <select required ngModel #done="ngModel" name="done" id="done" class="form-control center_align">
      <option [value]="true">Yes</option>
      <option [value]="false">No</option>
      <div *ngIf="done.touched && !done.valid">
        <div *ngIf="done.errors.required">
          This section is required
        </div>
      </div>
    </select>
  </div>

  <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>
